body {
	background-color: #EEE;
    width: auto;
}

#home {
	float: left;
	padding-right: 20px;
}

#info {
	float: right;
	padding-right: 20px;
}

#welcome {
	color: magenta;
	float: right;
	text-align: center;
	padding-top: 50px;
}

#gifimg {
    text-align: center;
}

#millietxt {
	color: magenta;
}

#channeltxt {
	color: magenta;
}

#channellink {
	text-align: center;
}

#millielink {
	text-align: center;
}